.fade-enter-active {
    transition: transform 0.3s cubic-bezier(1, 0.5, 0.8, 1), color 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-leave-active {
    transition: transform 1s cubic-bezier(1, 1, 1, 1), color 1s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter {
    color: mediumblue;
    transform: translateY(20px);
}

.fade-leave-to {
    transform: translate3d(-500px, -300px 400px);
    color: cyan;
}